# Enable aliases to be sudo’ed
#   http://askubuntu.com/questions/22037/aliases-not-available-when-using-sudo
alias sudo='sudo '

# Just bcoz clr shorter than clear
alias clr='clear'

# Go to the /home/$USER (~) directory and clears window of your terminal
alias q="~ && clear"

# Commands Shortcuts
alias e="$EDITOR"
alias x+='chmod +x'

# Quick reload of zsh environment
alias zshup="source ~/.zshrc"

# Show $PATH in readable view
alias path='echo -e ${PATH//:/\\n}'

# Download web page with all assets
alias getpage='wget --no-clobber --page-requisites --html-extension --convert-links --no-host-directories'

# Download file with original filename
alias get="curl -O -L"

# kubectl alias
alias k=kubectl

# terraform alias
alias tf=terraform

# ansible aliases
alias avt=ansible-vault
alias apb=ansible-playbook
alias agx=ansible-galaxy
alias ant=ansible-lint


if ls --color >/dev/null 2>&1; then
    colorflag="--color"
else
    colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -lhF ${colorflag}"
# List all files colorized in long format, including dot files
alias la="ls -lahF ${colorflag}"

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# vhosts
alias hosts='sudo vi /etc/hosts'

# untar
alias untar='tar xvf'

# Undo the last commit
alias uncommit="git reset HEAD~1"

# Open .zshrc in VSCode
alias zshconfig="code ~/.zshrc"
alias aliases="code ~/.aliases"

# alias python to python3
alias python=python3


if [[ $(uname) == *Darwin* ]]; then
    # macOS specific commands
    alias routerip="netstat -nr | grep default | grep -E '\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b'"
fi

# Try to get OS kind from /etc/os-release
if [ -f /etc/os-release ]; then
    OSKIND=$(grep '^NAME\|^VERSION' /etc/os-release | sed 's/.*=//' | head -1)
else
    # Fallback to uname -o if /etc/os-release is not found
    OSKIND=$(uname -o)
fi
if [[ "$OSKIND" == *"microsoft"* ]] || [[ "$OSKIND" == *"Kali GNU/Linux"* ]]; then
    # Sync wsl2 time
    alias wsltsync="sudo hwclock -s"
    alias cwd='pwd | tr -d "\r\n" | clip.exe'
    # Pipe my public key to my clipboard.
    alias pubkey="more ~/.ssh/id_ed25519.pub | clip.exe | echo '=> Public key copied to pasteboard.'"
    # Open Explorer in current folder
    alias explorer="explorer.exe ."
elif [[ "$OSKIND" == *"Ubuntu"* ]] || [[ "$OSKIND" == *"Fedora"* ]]; then
    # Ubuntu specific commands
    # Router IP address
    alias routerip="ip route | grep default | grep -E '\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b'"
    # copy working directory
    alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'
    # Pipe my public key to my clipboard.
    alias pubkey="more ~/.ssh/id_ed25519.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"
    # Open Explorer in current folder
    alias explorer="nautilus ."
elif [[ "$OSKIND" == *"Linux Mint"* ]]; then
    # Linux mint specific commands
    alias explorer="nemo ."
    # Router IP address
    alias routerip="ip route | grep default | grep -E '\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b'"
    # copy working directory
    alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'
    # Pipe my public key to my clipboard.
    alias pubkey="more ~/.ssh/id_ed25519.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"
elif [[ "$OSKIND" == *"Darwin"* ]]; then
    return 0
else
    echo "Alias has unsupported operating system: $OSKIND."
fi
