# Open Windows user directory
alias windir="cd /c/Users/Ominb"

# kubectl alias
alias k=kubectl
complete -o default -F __start_kubectl k

#terraform alias
alias tf=terraform

if ls --color > /dev/null 2>&1; then 
    colorflag="--color"
else 
    colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -lhF ${colorflag}"
# List all files colorized in long format, including dot files
alias la="ls -lahF ${colorflag}"

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# vhosts
alias hosts='sudo vim /etc/hosts'

if [[ $(uname -a) == *"microsoft"* ]]; then     
    # copy working directory
    alias cwd='pwd | tr -d "\r\n" | clip.exe'
    # Pipe my public key to my clipboard.
    alias pubkey="more ~/.ssh/id_ed25518.pub | clip.exe | echo '=> Public key copied to pasteboard.'"
    # Open Explorer in current folder
    alias explorer="explorer.exe ."
else
    # copy working directory
    alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'
    # Pipe my public key to my clipboard.
    alias pubkey="more ~/.ssh/id_ed25518.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"
    # Open Explorer in current folder
    alias explorer="nautilus ."
fi

# untar
alias untar='tar xvf'

# Undo the last commit
alias uncommit="git reset HEAD~1"

# Open .zshrc in VSCode
alias zshconfig="code ~/.zshrc"

# Source .zshrc
alias zshup="source ~/.zshrc"

# Sync wsl2 time
alias wsltsync="sudo hwclock -s"
